/* This section is used by the fifteen game. */
#table{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.title {
    width: 300px;
    font-size: 42px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    color: coral;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #222;
    text-align: center;
    /* Webkit (Chrome and Safari) */
    background: coral;
    color: white;
    cursor: pointer;
}

.blank {
    width: 50px;
    height: 50px;
    text-align: center;
}

#moves {
    border: 2px solid #222;
    font-weight: bold;
    padding: 2px 5px;
    color: #000;
}
/* end fifteen game */

body {
    background: #fff;
    color: #330000;
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    color: coral;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 1.2em;
}

table {
    margin-left: auto;
    margin-right: auto;
}


/* This is used inside the visible header of each page*/
#guide {
    width: 730px;
    font-size: 14px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    background: coral;
    letter-spacing: 1px;
    padding: 6px;
    -moz-box-shadow: 2px 3px 3px #aaa;
    -webkit-box-shadow: 3px 4px 4px #aaa;
    border: 1px black solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px black #aaa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#header {
    color: #000000;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

#wrapper {
    /* background-color: #440300;*/ /*this color displays in the navigation bar*/
    min-width: 700px;
    text-align: center;
    /*box-shadow: 5px 5px 5px #888;*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#content {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: coral;
}
#newGame {
    color: white;
    background-color: coral;
    border: black 3px solid;
}
#button-stop {
    color: white;
    background-color: coral;
    border: black 3px solid;
}
#rows {
    border: 2px solid black;
}
#columns {
    border: 2px solid black;
}
.sec {
    width: 70px;
    margin-right: auto;
    margin-left: auto;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.num {
    padding-left: 5px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
#button_sound {
    color: white;
    background-color: coral;
    border: black 3px solid;
}

